/* src/components/Layout.css */
.layout-container {
    display: flex;
}

.main-content {
    margin-left: 60px; /* Margem inicial para o estado recolhido da sidebar */
    padding: 20px;
    width: 100%;
    transition: margin-left 0.3s ease;
}

/* Regra para ajustar a margem do conteúdo quando a sidebar expande */
.sidebar.expanded ~ .main-content {
    margin-left: 250px;
}